.app {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}

.button {
	font-family: 'Open Sans', sans-serif;
	border: 1px solid currentColor;
	padding: 8px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: #303030;
	background: none;
	cursor: pointer;
}

.header {
	display: flex;
}