.period {
	padding: 15px;
}

.start-date {
	font-size: 14px;
	margin-bottom: 10px;
}

.grid {
	max-width: 100%;
}

.recipe-cell {
	vertical-align: top;
}

.period-header {
	display: flex;
	justify-content: space-between;
}

.period-remove {
    align-self: flex-start;
    border: 0;
}